<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
	.customHr {
	    width: 40%;
    }
    .paddingLow {
    	margin-left: 40px;
    	margin-right: auto;
    	margin-top: auto;
    	margin-bottom: auto;"
    }
    .paddingHigh {
    	margin-left: 80px;
    	margin-right: auto;
    	margin-top: auto;
    	margin-bottom: auto;"
    }
    label {
    	font-weight: bold;
    }
}
</style>
<head>
    <title>User Interaction POC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h2>Show Interaction Details</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
            
                <div class="form-group">
                    <label class="col-sm-2 control-label">Interaction Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.id}">Interaction Id</p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Link:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.href}">href</p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Source interaction ID:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.sourceInteractionId}">sourceInteractionId</p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Source System ID:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.sourceSystemId}">sourceSystemId</p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Source System:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.sourceSystem}">sourceSystem</p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Base Type:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.baseType}">baseType</p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Type:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.type}">type</p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Schema location:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.schemaLocation}">schemaLocation</p>
                    </div>
                </div>
                
                <div th:object="${interaction}">
                	<label class="col-sm-2 sm-2 control-label paddingLow">InteractionDate:</label>
	                <hr class="customHr paddingLow">
	               	<div class="form-group paddingLow" th:each="interact : *{interactionDate}">
	                	<label class="col-sm-2 sm-2 control-label">StarDateTime:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.startDateTime}">StartDateTime</p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">EndDateTime:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.endDateTime}">endDateTime</p>
	                    </div>
	                </div>
	                <hr class="customHr paddingLow">
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.description}"></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Reason:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.reason}"></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Status:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.status}"></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">SubStatus:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.subStatus}"></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Status Change Date:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.statusChangeDate}"></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">direction:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.direction}"></p>
                    </div>
                </div>
                
                <div th:object="${interaction}">
                	<label class="col-sm-2 sm-2 control-label paddingLow">Channel:</label>
	                <hr class="customHr paddingLow">
	               	<div class="form-group paddingLow" th:each="interact : *{channel}">
	                	<label class="col-sm-2 sm-2 control-label">ID:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.id}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Href:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.href}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Name:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.name}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Role:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.role}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Type:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.type}"></p>
	                    </div>
	                </div>
	                <hr class="customHr paddingLow">
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Registered By:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.registeredBy}"></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Contract ID:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.contractId}"></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Customer ID:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.customerId}"></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Customer Pantera ID:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.customerPanteraId}"></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Lead ID:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.leadId}"></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">MSIDN:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${interaction.msidn}"></p>
                    </div>
                </div>
                
                <div th:object="${interaction}">
                	<label class="col-sm-2 sm-2 control-label paddingLow">Related Party:</label>
	                <hr class="customHr paddingLow">
	               	<div class="form-group paddingLow" th:each="interact : *{relatedParty}">
	                	<label class="col-sm-2 sm-2 control-label">ID:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.id}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Href:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.href}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Referred Type:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.referredType}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Role:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.role}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Name:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.name}"></p>
	                    </div>
	                    <hr class="customHr paddingLow">
	                </div>
	                
	                <label class="col-sm-2 sm-2 control-label paddingLow">Related Entity:</label>
	                <hr class="customHr paddingLow">
	               	<div class="form-group paddingLow" th:each="interact : *{relatedEntity}">
	                	<label class="col-sm-2 sm-2 control-label">ID:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.id}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Href:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.href}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Referred Type:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.referredType}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Role:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.role}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Rel Description:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.relDescription}"></p>
	                    </div>
	                    <hr class="customHr paddingLow">
	                </div>
	                
	                <label class="col-sm-2 sm-2 control-label paddingLow">Attachments:</label>
	                <hr class="customHr paddingLow">
	               	<div class="form-group paddingLow" th:each="interact : *{attachment}">
	                	<label class="col-sm-2 sm-2 control-label">ID:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.id}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Href:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.href}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Name:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.name}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Description:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.description}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Type:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.type}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">MIME Type:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.mimeType}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Size:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.size}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Size Unit:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.sizeUnit}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">URL:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.url}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Valid for start time:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.validForStartTime}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Valid for end time:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.validForEndTime}"></p>
	                    </div>
	                    <hr class="customHr paddingLow">
	                </div>
	                
	                <label class="col-sm-2 sm-2 control-label paddingLow">Notes:</label>
	                <hr class="customHr paddingLow">
	               	<div class="form-group paddingLow" th:each="interact : *{note}">
	                	<label class="col-sm-2 sm-2 control-label">Date:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.date}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Author:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.author}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Text:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.text}"></p>
	                    </div>
	                    <hr class="customHr paddingLow">
	                </div>
	                
	                <label class="col-sm-2 sm-2 control-label paddingLow">Interaction Items:</label>
	                <hr class="customHr paddingLow">
	               	<div class="form-group paddingLow" th:each="interact : *{interactionItem}">
	                	<label class="col-sm-2 sm-2 control-label">ID:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.id}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Href:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.href}"></p>
	                    </div>
	                	<label class="col-sm-2 sm-2 control-label">Reason:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.reason}"></p>
	                    </div>
	                    <label class="col-sm-2 sm-2 control-label">Item date:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.itemDate}"></p>
	                    </div>
	                    <label class="col-sm-2 sm-2 control-label">Resolution:</label>
	                    <div class="col-sm-10">
	                        <p class="form-control-static" th:text="${interact.resolution}"></p>
	                    </div>
	                    <hr class="customHr paddingLow">
	                    
		                    <div class="form-group paddingLow" th:object="${interact}">
								<label class="col-sm-2 sm-2 control-label ">Related Party:</label>
					            <hr class="customHr paddingLow">
					            <div class="form-group " th:each="interact : *{relatedParty}">
					             	<label class="col-sm-2 sm-2 control-label">ID:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.id}"></p>
					                 </div>
					             	<label class="col-sm-2 sm-2 control-label">Href:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.href}"></p>
					                </div>
					             	<label class="col-sm-2 sm-2 control-label">Referred Type:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.referredType}"></p>
					                </div>
					               	<label class="col-sm-2 sm-2 control-label">Role:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.role}"></p>
					                </div>
					               	<label class="col-sm-2 sm-2 control-label">Name:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.name}"></p>
					                </div>
					                <hr class="customHr paddingLow">
					            </div>
					                
					            <label class="col-sm-2 sm-2 control-label ">Related Entity:</label>
					            <hr class="customHr paddingLow">
					            <div class="form-group " th:each="interact : *{relatedEntity}">
					            	<label class="col-sm-2 sm-2 control-label">ID:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.id}"></p>
					                </div>
					            	<label class="col-sm-2 sm-2 control-label">Href:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.href}"></p>
					                </div>
					            	<label class="col-sm-2 sm-2 control-label">Referred Type:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.referredType}"></p>
					                </div>
					              	<label class="col-sm-2 sm-2 control-label">Role:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.role}"></p>
					                </div>
					             	<label class="col-sm-2 sm-2 control-label">Rel Description:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.relDescription}"></p>
					                </div>
					                <hr class="customHr paddingLow">
					            </div>
					                
					            <label class="col-sm-2 sm-2 control-label ">Attachments:</label>
					            <hr class="customHr paddingLow">
					           	<div class="form-group " th:each="interact : *{attachment}">
					             	<label class="col-sm-2 sm-2 control-label">ID:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.id}"></p>
					                </div>
					            	<label class="col-sm-2 sm-2 control-label">Href:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.href}"></p>
					                </div>
					            	<label class="col-sm-2 sm-2 control-label">Name:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.name}"></p>
					                </div>
					             	<label class="col-sm-2 sm-2 control-label">Description:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.description}"></p>
					                </div>
					            	<label class="col-sm-2 sm-2 control-label">Type:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.type}"></p>
					                </div>
					            	<label class="col-sm-2 sm-2 control-label">MIME Type:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.mimeType}"></p>
					                </div>
					            	<label class="col-sm-2 sm-2 control-label">Size:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.size}"></p>
					                </div>
					            	<label class="col-sm-2 sm-2 control-label">Size Unit:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.sizeUnit}"></p>
					                </div>
					            	<label class="col-sm-2 sm-2 control-label">URL:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.url}"></p>
					                </div>
					            	<label class="col-sm-2 sm-2 control-label">Valid for start time:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.validForStartTime}"></p>
					                </div>
					            	<label class="col-sm-2 sm-2 control-label">Valid for end time:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.validForEndTime}"></p>
					                </div>
					                <hr class="customHr paddingLow">
					            </div>
					                
					            <label class="col-sm-2 sm-2 control-label ">Notes:</label>
					            <hr class="customHr paddingLow">
					           	<div class="form-group " th:each="interact : *{note}">
					            	<label class="col-sm-2 sm-2 control-label">Date:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.date}"></p>
					                </div>
					            	<label class="col-sm-2 sm-2 control-label">Author:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.author}"></p>
					                </div>
					            	<label class="col-sm-2 sm-2 control-label">Text:</label>
					                <div class="col-sm-10">
					                    <p class="form-control-static" th:text="${interact.text}"></p>
					                </div>
					                <hr class="customHr paddingLow">
					            </div>
			                    <hr class="customHr paddingLow">
		                    </div>
	                </div>
	                
	                <div th:object="${interaction}">
		               	<div class="form-group paddingLow" th:each="interact : *{characteristic}">
	                		<label class="col-sm-2 sm-2 control-label ">Characteristic:</label>
		               		<hr class="customHr paddingLow">
		                	<label class="col-sm-2 sm-2 control-label">Name:</label>
		                    <div class="col-sm-10">
		                        <p class="form-control-static" th:text="${interact.name}">StartDateTime</p>
		                    </div>
		                	<label class="col-sm-2 sm-2 control-label">Value:</label>
		                    <div class="col-sm-10">
		                        <p class="form-control-static" th:text="${interact.value}">endDateTime</p>
		                    </div>
		                </div>
		                <hr class="customHr paddingLow">
	                </div>
                
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/interact/new">New Interaction</a>
        </div>
        <div class="col-sm-3">
        	<a href="/interact/list">List of interactions</a>
        </div>
    </div>
</div>

</body>
</html>